.warning{
    position: absolute;
    top: 10%;
    right: 0;
    height: 50px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(210, 91, 91);
    font-size: 1rem;
    color: white;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.warning p{
    padding-left: 15px;
}